<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="Quotation.css">
</head>
<body>

    <main class="container mt-4">
        <header class="d-flex">
            <div id="logo">
                <img src="../Fern-logo.png" alt="">
            </div>
            <div class="address text-end ms-auto">
                <h5><strong>Fern Interior Decoration LLC</strong></h5>
                <p class="m-0">31st Street Al Quoz Industrial Area 4 , Dubai, UAE, 390902</p>
                <p class="m-0"><strong>VAT#</strong> : 1003 0479 8000 003</p>
                <p class="m-0">Phone: +971 4 388 0088</p>
                <p class="m-0">Email: info@fern.ae</p>
                <p class="m-0">Date: 21 Jul 2025</p>
            </div>
        </header>
        <div class="invoice-title">
            <span class="">Quotation</span>
        </div>
        <section class="text-end d-flex justify-content-end">
            <table class="table table-borderless" style="width: 35%;">

                <tr>
                    <td>Doc#:</td>
                    <td>INV/2025/00903</td>
                </tr>
                <tr>
                    <td>KAM:</td>
                    <td>Vasu</td>
                </tr>
            </table>
        </section>
        <section id="bill-to" class="d-flex justify-content-between">
            <div>

                <p class="m-0"> <strong>Bill To: Futureverse Technologies LLC</strong></p>
                
                <p class="m-0">Latifa Towers 206, Sheikh Zayed Road,</p>
                <p class="m-0">Dubai (AE) United Arab Emirates</p>
                
                <p class="m-0">Phone: +971 50 580 2397</p>
                <p class="m-0">Email: hazel@medianow.ae</p>
                <p class="m-0"><strong>VAT#</strong> : 1040 6203 5100 003</p>
                

            </div>
            <div>

                <table class="table table-borderless mt-2" >

                <tr>
                    <td style="width: 350px;">Event Name:</td>
                    <td>Long Term Rentals</td>
                </tr>
                <tr>
                    <td>Delivery Date and Time:</td>
                    <td>18 Jul 2025 09:00</td>
                </tr>
                <tr>
                    <td>Event Date:</td>
                    <td>19 Jul 2025</td>
                </tr>
                <tr>
                    <td>Dismantle Date and Time:</td>
                    <td>02 Aug 2025 10:00</td>
                </tr>
                <tr>
                    <td>Enquiry Reference:</td>
                    <td>WhatsApp</td>
                </tr>
            </table>

            </div>
        </section> <br>
        <section class="d-flex justify-content-between">
            <div>
                <p class="m-0">Ordered By: Ms. Hazel Shahnaz</p>
                <p class="m-0">Contact Number: +971 50 580 2397</p>
            </div>
            <div class="text-end">
                <p class="m-0">Category: Rental</p>
                <p class="m-0">Currency: AED</p>
            </div>
        </section><br>
        <section>
            <table class="table table-bordered border-dark">
                <thead>
                    <tr>
                        <th>S #</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        
                        <th>Taxable Amount</th>
                        <th>Tax</th>
                        <th>Tax Amount</th>
                        <th style="width: 12%;">Subotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>1</td>
                        <td><img style="width: 100px;" src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg" alt=""></td>
                        <td>[KFBP-1014-RS16] Kids Rectangular Table Blue</td>
                        <td>2.00</td>
                        <td>250.00 AED</td>
                        
                        <td>500.00 AED</td>
                        <td>5%</td>
                        <td>25.00 AED</td>
                        <td>525.00 AED</td>

                    </tr>
                    <tr>

                        <td>2</td>
                        <td><img style="width: 100px;" src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg" alt=""></td>
                        <td>[KFBP-1004-SS26] Princi Kids Chair Blue</td>
                        <td>5.00</td>
                        <td>20.00 AED</td>
                        
                        <td>500.00 AED</td>
                        <td>5%</td>
                        <td>25.00 AED</td>
                        <td>525.00 AED</td>

                    </tr>
                    <tr>

                        <td>3</td>
                        <td><img style="width: 100px;" src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg" alt=""></td>
                        <td>[MTOC-1034-SH11] Millet Square Table White</td>
                        <td>3.00</td>
                        <td>999.00 AED</td>
                        
                        <td>500.00 AED</td>
                        <td>5%</td>
                        <td>25.00 AED</td>
                        <td>525.00 AED</td>

                    </tr>
                    <tr>
                        <th colspan="8" class="text-end">Delivery Fee</th>
                        <td class="text-end" >300.00 AED</td>
                    </tr>
                    <tr>
                        <th colspan="8" class="text-end">Subtotal Taxable Amount</th>
                        <td class="text-end">1,660.00 AED</td>
                    </tr>
                    <tr>
                        <th colspan="8" class="text-end">Discount</th>
                        <td class="text-end">-231.43 AED</td>
                    </tr>
                    <tr>
                        <th colspan="8" class="text-end">VAT</th>
                        <td class="text-end">71.43 AED</td>
                    </tr>
                    <tr>
                        <th colspan="8" class="text-end">NET TOTAL PAYABLE</th>
                        <td class="text-end">1,500.00 AED</td>
                    </tr>
                    <tr>
                        <th colspan="8" class="text-end">Advance Paid</th>
                        <td class="text-end">0.00 AED</td>
                    </tr>
                    <tr>
                        <th colspan="8" class="text-end">Balance Due</th>
                        <td class="text-end">1,500.00 AED</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <br>
        <section class="d-flex justify-content-between">
            <div>
                <p><strong>Total Amount (in words):</strong> One Thousand, Seven Hundred Dirham and Forty-Six Fils</p>
                <br>
                <p class="fw-bold mb-1">Bank Details</p>
                <table class="table table-borderless" >
                    <tr>
                        <td>Bank Name:</td>
                        <td>WIO Bank</td>
                    </tr>
                    <tr>
                        <td>Account Name:</td>
                        <td>Fern Interior Decoration LLC</td>
                    </tr>
                    <tr>
                        <td>Account Number:</td>
                        <td>9700700933</td>
                    </tr>
                    <tr>
                        <td>Currency:</td>
                        <td>UAE Dirhams (AED)</td>
                    </tr>
                    <tr>
                        <td>Swift Code:</td>
                        <td>WIOBAEADXXX</td>
                    </tr>
                    <tr>
                        <td>IBAN Number:</td>
                        <td>AE 410860000009700700933</td>
                    </tr>
                </table>
            </div>
            <div style="width: 40%; border-left: 1px solid grey; align-content: center;">
                <table class="table table-borderless text-center">
                    <tr>
                        <th>VAT%</th>
                        <th>Assessable Value</th>
                        <th>VAT Amount</th>
                    </tr>
                    <tr>
                        <td>5%</td>
                        <td>1,428.57 AED</td>
                        <td>71.43 AED</td>
                    </tr>
                </table>
            </div>
        </section>
        <br><br>
        <section>
            <p><strong>Terms and Conditions:</strong></p>
            <p class="m-0">Detailed Terms available on our website are applicable. Summarized as below:</p>
            <ul>
                <li>Bank or any transfer/payment charges on client's account</li>
                <li>All Credit/Debit Card transactions are subject to a 3.25% processing fee</li>
                <li>Payment Terms: 100% in advance upon confirmation</li>
                <li>Quote validity: 7 days subject to availability and 100% payment. Quote is valid only for the quantity, duration, location, purpose and date(s) of even</li>
                <li>All products supplied remain property of Fern Interior Decoration LLC</li>
                <li>Damage, missing or lost items will be charged for at our current replacement rates</li>
                <li>All licenses, permits and/or access passes to the venue to be arranged by Client in advance</li>
                <li>Power, Water and access be provided by Client</li>
                <li>By confirming the booking, you accept our terms and conditions, available on website, http://fern.ae and onrequest, which will prevail in all cases</li>
                <li>Cancellation Policy: 25% of if cancelled 7 Days before the delivery, 50% charged 72 hours before the delivery. Thereafter 100% is chargeable</li>
                <li>Computer generated document, needs no signature</li>
            </ul>

        </section>
        <br>
        <section class="d-flex">
            <div class="p-3" style="border: 1px solid black; width: 80%;">
                  <p>Clients Acceptance: Please Sign and Stamp this quote and mail it back to us on</p>
                  <p class="m-0">I / We confirm that the payment will be made via</p>
                  <div class="my-3 ms-2">
                    <input type="checkbox" style="transform: scale(2); accent-color: #35A548; "> <label class="ms-3" for="">Bank Transfer/Deposit</label>
                  </div>
                  <div class="my-3 ms-2">
                    <input type="checkbox" style="transform: scale(2); accent-color: #35A548;"> <label class="ms-3" for="">Credit Card Link</label>
                  </div>

                  <div class="my-3 ms-2">
                    <input type="checkbox" style="transform: scale(2); accent-color: #35A548;"> <label class="ms-3" for="">Cheque</label>
                  </div>
                  
                  <br>
                  <p class="m-0">I/We accept the Terms and Conditions, as specified on website are understood and acceptable to us</p>
            </div>
            <div class="p-3" style="border: 1px solid black; border-left: none; width: 30%;">
                <small class="fw-bold text-decoration-underline">Approved By:</small>
                <br>

                <small class="fw-bold text-decoration-underline">Name:</small>
                <br>
                <hr style="border: none; border-top: 1px solid black;">

                <small class="fw-bold text-decoration-underline">Designation</small>
                <br><br>
                <hr style="border: none; border-top: 1px solid black;">
                <small class="fw-bold text-decoration-underline">(Signature with Stamp) </small>
                <br><br>

            </div>
        </section><br><br>
        <!-- <footer class="d-flex justify-content-between">
            <p class="fw-bold">Page 1 of 1</p>
            <p class="fw-bold">Tax Invoice</p>
            <p class="fw-bold">21 Jul 2025 12:17</p>
        </footer> -->
    </main> 
    
</body>
</html>