<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Note</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="delivery-note.css">
</head>
<body>

    <main class="container mt-4" >
        <img id="topsvg" src="../header-bg.png" alt="">

        <header class="d-flex" style="z-index: 50;">
            
            
            <div class="address ">
                <h5><strong>Fern Interior Decoration LLC</strong></h5>
                <p class="m-0">31st Street Al Quoz Industrial Area 4 , Dubai, UAE, 390902</p>
                <p class="m-0"><strong>VAT#</strong> : 1003 0479 8000 003</p>
                <p class="m-0">Phone: +971 4 388 0088</p>
                <p class="m-0">Email: info@fern.ae</p>
                <p class="m-0">Date: 21 Jul 2025</p>
            </div>
            <div id="logo" class="ms-auto">
                <img src="../evergreen-logo (1).png" style="width: 200px;" alt="">
            </div>
        </header>
        <div class="invoice-title" style="z-index: 50;">
            <span class="">Delivery Note</span>
        </div>
        <section class="text-end d-flex justify-content-end">
            <div>
                <span class="px-4 py-2 fs-5 text-white fw-semibold" style="border-radius: 50px; background-color: #2a384d;">Delivery Note No: #15255</span>
            </div>
        </section> 
        <br>
        <section id="bill-to" class="d-flex justify-content-between">
            <div>

                <p class="m-0"> <strong>Bill To: Futureverse Technologies LLC</strong></p>
                
                <p class="m-0">Latifa Towers 206, Sheikh Zayed Road,</p>
                <p class="m-0">Dubai (AE) United Arab Emirates</p>
                
                <p class="m-0">Phone: +971 50 580 2397</p>
                <p class="m-0">Email: hazel@medianow.ae</p>
                <p class="m-0"><strong>VAT#</strong> : 1040 6203 5100 003</p>
                

            </div>

            <div class="ps-3" style="border-left: 2px solid #2a384d; border-radius: 12px;">

                <table class="table table-borderless mt-2" >

                    <tr>
                        <td id="event-name">Event Name:</td>
                        <td>Long Term Rentals</td>
                    </tr>
                    <tr>
                        <td>Venue:</td>
                        <td>Latifa Towers 206, Sheikh Zayed Road</td>
                    </tr>
                    <tr>
                        <td>Delivery Date and Time:</td>
                        <td>18 Jul 2025 09:00</td>
                    </tr>
                    <tr>
                        <td>Event Date:</td>
                        <td>19 Jul 2025</td>
                    </tr>
                    <tr>
                        <td>Dismantle Date and Time:</td>
                        <td>02 Aug 2025 11:00</td>
                    </tr>
                    <tr>
                        <td>Enquiry Reference:</td>
                        <td>19 Jul 2025</td>
                    </tr>
                    <tr>
                        <td>Source Document Number:</td>
                        <td>QPI2025-1001592</td>
                    </tr>
                    
                    <tr>
                        <td>Ordered By:</td>
                        <td>Ms. Hazel Shahnaz</td>
                    </tr>
                    <tr>
                        <td>Contact Number:</td>
                        <td>+971 50 580 2397</td>
                    </tr>
                    <tr>
                        <td>Category:</td>
                        <td>Rental</td>
                    </tr>
                    
                </table>

            </div>
        </section> <br> <br>

        <!-- main table  -->
        
        <section class="page-break-avoid">
            <table id="maintable" class="table  border-dark table-rounded table-borderless table-striped" style="border-radius: 10px;">
                <thead  class="" style="background-color: #2a384d;" >
                    <tr>
                        <th>S#</th>
                        <th>Product Image</th>
                        <th>Description</th>
                        <th class="text-center">Quantity</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>1</td>
                        <td><img  class="p-img" src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg" alt=""></td>
                        <td>[KFBP-1014-RS16] Kids Rectangular Table Blue</td>
                        <td class="text-center">2.00</td>
                       

                    </tr>
                    <tr>

                        <td>2</td>
                        <td><img  class="p-img" src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg" alt=""></td>
                        <td>[KFBP-1014-RS16] Kids Rectangular Table Blue</td>
                        <td class="text-center">2.00</td>
                        

                    </tr>
                    <tr>

                        <td>3</td>
                        <td><img  class="p-img" src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg" alt=""></td>
                        <td>[KFBP-1014-RS16] Kids Rectangular Table Blue</td>
                        <td class="text-center">2.00</td>
                        

                    </tr>
                   
                </tbody>
            </table>
            
        </section>
        <section class="page-break-avoid">
            <div class="d-flex justify-content-end" >
                


                <div >
                    <table  id="balancedue" class="table table-borderless" >

                        <tr style="background-color: #2a384d;  border-radius: 12px !important; ">
                            <td style="color: white; border-top-left-radius: 5px; border-bottom-left-radius: 5px;" ><strong style="color: white;">Total Items:</strong></td>
                            <td style="color: white; text-align: right; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"  class="text-end" ><strong style="color: white;">17</strong></td>
                        </tr>
                    </table>

                </div>

            </div>
           
            
        </section>
        <br>
        <section class="page-break-avoid">
            <div class="text-center" style="border: 1px solid black; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                <p class="m-0" style="font-size: 13px;">Itemwise Acknowledgement <br>
                Doc: WH/OUT/01912</p>
            </div>
            <div class="d-flex" style="border: 1px solid black; border-top: none;">
                <div class="id-card align-content-center text-center" style="width: 50%; border-right: 1px solid black;">
                    <img width="200px" src="https://cdn-icons-png.flaticon.com/128/10082/10082884.png" alt="">
                    
                </div>
                <div style="width: 50%;" class="p-5">

                    <p class="text-center" style="font-size: 13px;">
                        I, the undersigned, hereby confirm that I have inspected all items and accept
                        delivery of the listed goods in satisfactory condition, with the set up
                        completed properly.
                    </p><br><br>

                    <p style="font-size: 18px;">Name:</p > <br>
                    <p style="font-size: 18px;">Mobile:</p > <br>
                    <p style="font-size: 18px;">Signature:</p > <br>

                </div>
            </div>
        </section>
        <br>
        

        <section class="page-break-avoid">
            
            
            <ul>
                <li>Standard Terms available on our website are applicable.</li>
                <li>Special Instructions for Handling: Manual - handling / unloading / loading.</li>
                <li>Please inspect all items carefully at the time of delivery.</li>
                <li>Please ensure the items are returned in same condition after completion of hire period.</li>
                <li>Any damage will be charged on actual basis - invoice for which will be raised after assessing the cost on actual restoration / replacement cost basis.</li>
                <li>It is the hirer's responsibility to keep the hired items and its effects in good condition during the hire period. In the event of any items being damaged or lost due to any cause, whatsoever, the hirer agrees to pay to us, the full value of such items in addition to the rental amount.</li>
                <li>All licenses, permits and/or access passes to the venue to be arranged by Client in advance.</li>
                <li>Power, Water and access be provided by Client.</li>
                <li>In event of Rains, Sprinklers, Moisture, Fog, Hail, Storms or any other natural calamity, Client must provide protection to the hired assets at his own cost.Any damages caused due to any instance is liable to be charged for and be paid by the client.</li>
                <li>Fern staff and representatives are entitled to take pictures of supplies, furniture for our use in promotion, social media, catalogues, websites etc.</li>
                <li>For any further assistance please contact your account manager</li>

            </ul>

        </section>
        <br>
        

    </main> 
    
</body>
</html>